.loginBox{
    padding: 30px;
    background-color: #588da5f7 !important;
    border-radius: 5px;
    float: right;
    margin-top: 10% !important;
    color: white;
}

.loginHeader{
 justify-content: center;
} 

.loginHeader p {
    font-size: 14px;
    padding: 0px 5px 0px 5px;
}

.loginBox a {
    color: cyan !important;
}

.errorMessage {
    color: red;
    font-size: 14px;
}

.sideText{
    margin-top: 25%;
    text-align: center;
    font-family: serif;
}

button {
    color: blue;
}
/* ::placeholder{
    color: white !important;
} */

mat-form-field{
    width: 100%;
}