<app-navbar></app-navbar>
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="sideText">
            <h1> To Travel Is To Live </h1>
            <p>We live in a wonderful world that is full of beauty, charm, and adventure. There is no end to the adventures we can have if only we seek them with our eyes open</p>
        </div> 
      </div>
      <div class="col-md-4 loginBox">
        <div class="row loginHeader">
          <h3> We promise you</h3>
          <p> For once you have tasted flight you will walk the earth with your eyes turned skywards, for there you have been and
            there you will long to return.</p>
        </div>
        <div class="form-group">
          <label> UserName </label>
          <input class="form-control username" [(ngModel)]="username"/>
        </div>
        <div class="form-group">
          <label> Password </label>
          <input class="form-control password" type="password"  [(ngModel)]="password"/>
        </div>
        <span class="errorMessage">{{ errorMessage  }}</span>
        <div class="row gaps">
          <button class="btn btn-link"> Forgot Passowrd ? </button>
        </div>
        <div class="row gaps">
          <div class="col-md-12">
              <button class="btn btn-success loginBtn" (click)="onLoginSubmit($event)"> Login </button>
          </div>
        </div>
      </div>
  </div>
</div>