<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="sideText">
        <h1> One’s destination is never a place, but a new way of seeing things </h1>
        <p>To my mind, the greatest reward and luxury of travel is to be able to experience everyday things as if 
          for the first time, to be in a position in which almost nothing is so familiar it is taken for granted.</p>
      </div>
    </div>
    <div class="col-md-4 loginBox">
      <div class="row loginHeader">
        <h3> Be our member !!</h3>
        <p> The moment you doubt whether you can fly, you cease for ever to be able to do it..</p>
      </div>
      <div class="form-group">
        <label> Name </label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label> Email </label>
        <input class="form-control" type="text">
      </div>
      <div class="form-group">
        <label> Phone </label>
        <input class="form-control" type="text">
      </div>
      <div class="row gaps">
        <div class="col-md-12">
          <button class="btn btn-success loginBtn" (click)="registerMe()"> Register </button>
        </div>
      </div>
    </div>
  </div>
</div>