.dashboard{
    background-image: url('../../assets/images/planeflying.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 3% 0px;
}

.dashboard h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    vertical-align: middle;
    padding-top: 10%;
    font-size: 50px;
    color: #0a506b;
}

.dashboard .para {
    text-align: center;
    font-size: 18px;
    color: #0a506b;
}

button{
    color: white !important;
}


.searchcrieriaInner{
   border-radius: 15px;
   padding: 20px;
   background-color: #6ba1d075;
   color: white;
   font-weight: 600;
   font-size: 14px
}

.columnHeader{
    color: white;
    font-size: 18px;
}

.columDivider {
    border-right: 1px groove #ce906c40;
    margin-top: 2%;
}

.searchBtn{
    margin-left: 85%;
    padding: 20px;
}

label{
    font-weight: 100;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  button{
      background-color: blue !important;
  }

  .mat-card{
      background: transparent;
  }