<app-nav></app-nav>

<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1> Book Your Flight With Us</h1>
      </div>
    </div>
    <div class="row gaps">
      <div class="col-md-12 para">
        <p>
          Among all the marvels of modern invention, that with which I am most concerned is, of course, air transportation. Flying
          is perhaps the most dramatic of recent scientific attainment. In the brief span of thirty-odd years, the world
          has seen an inventor's dream first materialized by the Wright brothers at Kitty Hawk become an everyday actuality.
        </p>
      </div>
    </div>
    <div class="row gaps para">
      <div class="col-md-12">
        <div class="bookNowBtn">
          <button mat-raised-button color="primary" class="btn btn-primary" (click)="letsCheck()">
            Check More Offers !!
          </button>
        </div>
      </div>
    </div>
    <div class="row gaps">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <div class="searchcrieriaInner">
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group [(ngModel)]="oneway">
                    <mat-radio-button (change)="setWayOption($event)" [value]=false>Round Trip</mat-radio-button>
                    <mat-radio-button (change)="setWayOption($event)" [value]=true>One-way</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row gaps">
                <div class="col-md-4 columDivider">
                  <div class="destination">
                    <label class="columnHeader"> Destination </label>
                    <div class="form-group col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="From" aria-label="From" [matAutocomplete]="auto" name="fromCtrl" [formControl]="fromCtrl" >
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                            <span>{{ state.name }}</span>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field>
                        <input matInput placeholder="To" aria-label="To" [matAutocomplete]="auto" name="toCtrl" [formControl]="toCtrl" >
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let state of filteredStates | async" [value]="state.name" >
                            <span>{{ state.name }}</span>
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 columDivider">
                  <div class="date">
                    <label class="columnHeader"> Travel Date </label>
                    <div class="form-group col-md-6">
                      <mat-form-field>
                        <input matInput [matDatepicker]="myDatepicker" placeholder="Travel Date" [(ngModel)]="date">
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field>
                        <input matInput [matDatepicker]="returnDatepicker" placeholder="Return Date" [(ngModel)]="returnDate" disabled={{oneway}}>
                        <mat-datepicker-toggle matSuffix [for]="returnDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #returnDatepicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="passengers">
                    <label class="columnHeader"> Passengers </label>
                    <div class="form-group col-md-6">
                      <!-- <mat-form-field>
                        <input matInput placeholder="Check-In" type="text" [(ngModel)]="date">
                      </mat-form-field> -->
                      <mat-form-field>
                        <mat-select placeholder="No. of Adults">
                          <mat-option *ngFor="let passenger of passengers" [value]="passenger.value">
                            {{ passenger.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="form-group col-md-6">
                      <mat-form-field>
                          <mat-select placeholder="No. of Childs">
                            <mat-option *ngFor="let passenger of passengers" [value]="passenger.value">
                              {{ passenger.value }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button mat-raised-button class="btn btn-primary" (click)="getSearchResults()"> Search Flights</button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>